
<!DOCTYPE html>
<html>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <!-- Bootstrap style code -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="./style.css">

  <!-- the app code -->
  <script src="app.js"></script>

  <body>
    <div ng-address-bar> </div>

  <div ng-app="myApp" ng-controller="myCtrl" tabindex="0" ng-keyup="processInput($event)">
    <div>
      <a href="./index.html"> Home </a>
      <input name="username" ng-model="username">
    </div>

    <div>
    <div class="row" ngShow=game>
      <div class="col-md-3">
        <b> Down: </b> <br>
        <div ng-repeat="word in game.down | orderBy:indexFromWord" id = "{{'down-'+index}}">
          {{word.index}}. {{ word.hint }}
        </div>
      </div>
      <div class="col-md-3">
        <b> Across: </b> <br>
        <div ng-repeat="word in game.across | orderBy: indexFromWord" id = "{{'across-'+index}}">
          {{word.index}}. {{ word.hint }}
        </div>
      </div>
      <div class="col-md-6">
      <b> Board. </b> <br>
      <div class="board-container" id="board-container">
          <div ng-repeat="column in game.board" class="board-column">
            <div ng-repeat="cell in column" class="cell" ng-click="processClick($parent.$index, $index)">
              <div cell-dir x="{{$parent.$index}}" y="{{$index}}"></div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
